<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jls.mealplanner">

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mealplanner"
                    android:scheme="example" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.calendar.day.DayActivity"
            android:label="@string/title_day"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.ingredients.ingredient.IngredientCategoryActivity"
            android:label="@string/label_category"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.ingredients.ingredient.form.AddNewIngredientActivity"
            android:label="@string/label_add_ingredient"
            android:parentActivityName=".ui.ingredients.ingredient.IngredientCategoryActivity" />
    </application>
</manifest>
